{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["import"],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "import/prefer-default-export": "error",
    "no-unused-vars": "error"
  },
  "overrides": [
    {
      "files": ["**/*.mjs"],
      "parserOptions": {
        "sourceType": "module"
      }
    }
  ]
}
